:root {
    --color-black: #000000;
    --color-white: #ffffff;

    --color-02: #716efc;
    --color-03: #131313;
    --color-08: #fafafa;
    --color-09: #f0f8cb;
    --color-10: #d8d8d8;
    --color-13: #f7f8f8;
}
